*{
    margin: 0;
    padding: 0;
}
.Gaming-page{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Gaming-page .Bigaming-page{
    height: 80vh;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.Bigaming-page .Banner-firstrow{
    height: 30vh;
    width: 80vw;
    border-radius: 30px;
    background-color: black;
    display: flex;
    
}
.Banner-firstrow .Divfor-heading{
    height: 30vh;
    width: 36vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
}
.Divfor-heading h1{
    font-size: 55px;
    color: white;
}

.Banner-firstrow .Divfor-image{
    width: 14vw;
    background-color: green;
    clip-path: polygon(30% 0, 100% 0, 70% 100%, 0% 100%);
    transition: transform 0.2s;
    transform-origin: bottom center;
}.Divfor-image:hover {
    transform: scale(1.3);
}
.Banner-firstrow .Divfor-imagee{
    width: 14vw;
    background-color: green;
    clip-path: polygon(30% 0, 100% 0, 70% 100%, 0% 100%);
    transition: transform 0.2s;
    transform-origin: bottom center;
    border-top-right-radius: 30px;
}
.Divfor-imagee:hover {
    transform: scale(1.3);
}


.Bigaming-page .Banner-secondrow {
    width: 80vw; 
    border-radius: 30px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.Bibanner-secondrow {
    width: 70vw; 
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    flex-wrap: wrap; 
}

.Small-box {
    height: 150px; 
    width: 200px; 
    background-color: black;
    border-radius: 15px;
}


@media (max-width: 900px) {
    .Bibanner-secondrow {
        justify-content: center; 
        gap: 10px;
    }
}

@media (max-width: 600px) {
    .Bibanner-secondrow {
        flex-direction: column; 
        align-items: center;
    }

    .Small-box {
        height: 100px;
        width: 150px;
    }
}

@media (max-width: 1100px){
    .Banner-firstrow{
        display: none !important;
    }
}