.Main-Footer {
  width: 70vw;
  min-height: 50vh;
  height: auto;
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.Main-Footer .BoxInsideMain-Footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.BoxInsideMain-Footer .About-Footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.About-Footer .Forabout-Footer {
  width: 40%;
}

.About-Footer .Getintouch-Footer {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Getintouch-Footer .Boxinsidegetintouch-Footer {
  height: 40px;
  width: 100px;
  border-radius: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: black;
}

.Boxinsidegetintouch-Footer .Getintouchslider-Footer {
  height: 30px;
  width: 30px;
  margin-left: 5px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.BoxInsideMain-Footer .Contact-Footer {
  height: auto;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  padding: 20px;
}

.Contact-Footer .Boxinsidecontact-Footer {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.Boxinsidecontact-Footer .Logo-Footer {
  width: 15%;
}

.Logo-Footer .Heading-Footer {
  font-size: 32px;
  color: white;
}

.Boxinsidecontact-Footer .Description-Footer {
  width: 40%;
  color: white;
}

.Boxinsidecontact-Footer .Support-Footer {
  width: 30%;
  text-align: right;
  color: white;
}

.Option-Footer {
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 6px;
  padding: 20px;
}

.Firstbox-Footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Firstbox-Footer > div {
  width: calc(100% / 5 - 10px);
  margin-bottom: 20px;
}

.Secondbox-Footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10%;
  align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 1100px) {
  .Forabout-Footer {
    width: 50%;
  }

  .Getintouch-Footer {
    width: 35%;
  }
}

@media (max-width: 768px) {
  .Firstbox-Footer > div {
    width: 48%;
  }

  .Contact-Footer {
    flex-direction: column;
  }

  .Boxinsidecontact-Footer {
    flex-direction: column;
    align-items: center;
  }

  .Boxinsidecontact-Footer > div {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .Firstbox-Footer > div {
    width: 100%;
  }

  .Secondbox-Footer {
    flex-direction: column;
  }
}
